/*
 * Estilos reutilizables
 */

 .up-case{
   text-transform: uppercase;
 }

 a{
   text-decoration: none;
   font-size: 0.9rem;
   margin: 0.5rem;
 }

.c-white{
  color: white;
}
.c-green{
  color: #18BC9C;
}

.bc-green{
  background-color: #18BC9C;
}

.bc-dark{
  background-color: #233140;
}

.fw-bold{
  font-weight: bold;
}
.fw-lig{
  font-weight: lighter;
}

.fs-18{
  font-size: 1.8rem;
}
.fs-125{
  font-size: 1.25rem;
}

.m-06{
  margin: 0.6rem;
}

.line-d{
  width: 50px;
  border: 2px solid;
}

.txt-ce{
  text-align: center;
}

button{
  border: 3px solid white;
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 1rem;
  cursor: pointer;
}

button, input, textarea{
  outline: none;
}

.container{
    width: 90%;
    margin: auto;
}

.w-100{
    width: 100%;
}
.w-60{
  width: 60%;
}

.tra-04{
    transition: 0.4s;
}

.bc-black{
  border-color: black;
}

.bbtm-gray{
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}
