*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', 'Lato', sans-serif;
}

/*header*/
.main-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}

.a-logo{
  font-size: 28px;
}

.menu ul{
   list-style: none;
   display: flex;
 }

.menu li{
    padding: 10px 0px;
}

.menu a:hover{
    color: aqua;
}

/*hug menu*/
#hug-menu, header label{
  display: none;
}

header label{
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 0.5rem;
}

header label:hover{
  cursor: pointer;
  background: rgba(0,0,0,3);
}

/*first section*/
.start-b{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.start-b>div{
  height: 80%;
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.name{
  font-size: 1.75rem;
}
 hr{
  border: 3px solid white;
  width: 8rem;
  display: inline-flex;
 }

 /*portafolio*/

.portafolio h1, .about h2, .contact h2{
  font-size: 2.625rem;
}

 .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
 }

.image-box{
    width: 30%;
}

 /*about*/
.about, .contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  justify-content: space-around;
}

 .about{
   height: 37rem;
 }
 .about p{
   font-size: 1.15rem;
   margin: 0.5rem;
 }

 .about button{
   font-size: 1.15rem;
 }

.paragr{
 display: flex;
 width: 60%;
}

/*contact form*/
.form-group{
    height: 4.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-group label{
  display: none;
}
.form-control{
  border: none;
  font-size: 1.2rem;
  width: 100%;
}
.btn-send{
  width: 6rem;
}

/*footer*/
footer{
  background-color: #2C3E50;
  height: 21.25rem;
  color: white;
}

.footer-top{
  display: flex;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}

.footer-bottom{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-foot{
  max-width: 31%;
  height: 50%;
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
}

.around-world a{
  border: 2px solid white;
  padding: 1rem;
  border-radius: 50%;
  width: 4rem;
}

.link:hover{
  text-decoration: underline;
}

@media (max-width: 1200px){
    .paragr{
        display: initial;
        width: 80%;
    }

    .image-box{
        width: 27.6%;
    }

    footer{
      height: 28.25rem;
    }
}
@media (max-width: 1000px){
  footer{
    height: 38rem;
  }
  .footer-top{
    flex-direction: column;
  }
  .in-foot{
    max-width: 100%;
  }
}

@media(max-width: 850px){
  header label{
    display: block;
  }
  .menu{
    background-color: #233140;
    position: absolute;
    top: 5rem;
    left: -50rem;
    width: 100%;
  }
  .menu ul{
    flex-direction: column;
  }
}
