*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Montserrat', sans-serif;
}
/*header*/
.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    z-index: 1000;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
}

.a-logo{
    font-size: 28px;
}

.menu ul{
    list-style: none;
    display: flex;
}

.menu li{
    padding: 10px 0px;
}

.menu li:hover a{
    color: #18BC9C;;
}

/*hug menu*/
#btn-hug-menu, header label{
    display: none;
}

header label{
    padding: 0.5rem 1rem;
    border: 2px solid white;
    border-radius: 0.5rem;
}

header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,3);
}

/*first section*/
.start-b{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.start-b>div{
    height: 80%;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.name{
    font-size: 1.75rem;
}
hr{
    border: 3px solid white;
    width: 30%;
    display: inline-flex;
}

/*portafolio*/

.portafolio h1, .about h2, .contact h2{
    font-size: 2.625rem;
}

.title-port, .title-about, .titlte-contact{
    width: 55%;
    min-width: 16rem;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.image-box{
    width: 33%;
    min-width: 16rem;
    padding: 1rem;
    position: relative;
}

.image-box:hover .img-box-to-hover{
    opacity: 1;
}

.img-box-to-hover{
    position: absolute;
    padding: 1rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

/*modal*/
.box-modal {
    display: none;
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 6.25rem;
    overflow: auto;
    background-color: white;
    text-align: center;
}

#image-modal, .proyect-description{
    width: 80%;
    max-width: 43.75rem;
    display: block;
    margin: auto;
}

.d-close{
    height: 0.25rem;
    width: 4rem;
    top: -6rem;
    right: 3rem;
    padding: 2rem 0;
}

.d-close::before, .d-close::after{
    content: " ";
    width: 75px;
    height: 1px;
    display: block;
    background: rgba(158, 158, 158, 0.93);
}

.d-close::before{
    transform: rotate(45deg); 
}
.d-close::after{
    transform: rotate(-45deg);
}

#btn-close{
    border-color: #ccc;
}

.hr-modal{
    border: 3px solid; 
}

.list-inline > li{
    display: inline-block
}

/*about*/
.about, .contact, .portafolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    justify-content: space-around;
    min-height: 100vh;
}

.about p{
    font-size: 1.15rem;
    margin: 0.5rem;
    width: 100%;
    min-width: 15rem;
    max-width: 30rem;
}

.about button{
    font-size: 1.15rem;
}

.paragr{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

/*contact form*/
.form-group{
    min-height: 4.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-group label{
    display: none;
}
.form-control{
    border: none;
    font-size: 1.2rem;
    width: 100%;
}

span{
    color: #737373;
}
.btn-send{
    width: 6rem;
}

/*footer*/
footer{
    background-color: #2C3E50;
    height: 21.25rem;
    color: white;
}

.footer-top{
    display: flex;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}

.footer-bottom{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-foot{
    max-width: 31%;
    height: 50%;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
}

.around-world a{
    border: 2px solid white;
    padding: 1rem;
    border-radius: 50%;
    width: 4rem;
}

.link:hover{
    text-decoration: underline;
}

@media (max-width: 1200px){
    footer{
        height: 28.25rem;
    }
}
@media (max-width: 1000px){
    footer{
        height: 38rem;
    }
    .footer-top{
        flex-direction: column;
    }
    .in-foot{
        max-width: 100%;
    }
}

@media(max-width: 850px){
    header label{
        display: block;
    }
    .menu{
        background-color: #233140;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
    }
    .menu-none{
        display: none;
    }
    .menu ul{
        flex-direction: column;
    }
}
