/*
 * Estilos de tu proyecto
 */

 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /*font-family: 'Montserrat', sans-serif;*/
       font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*header*/
.main-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
}
.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
}

.a-logo{
  font-size: 18px;
}

.menu li{
   list-style: none;
   display: inline-flex;
 }

 @media only screen and (min-width: 755px) {

}
/*section start*/
.main-section{
  width: 90%;
  margin: auto;
}
.start-b{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.start-b>div{
  height: 80%;
  display: inherit;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.name{
  font-size: 1.75rem;
}
 hr{
  border: 3px solid white;
  width: 8rem;
  display: inline-flex;
 }

 /*portafolio*/
.portafolio, .about{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  justify-content: space-around;
}

.portafolio h1, .about h2{
  font-size: 2.625rem;
}

 .portafolio hr{
   border-color: black;
 }

 .image-box img{
   width: 400px;
 }

 /*about*/

 .about{
   height: 37rem;
 }
 .about p{
   font-size: 1.15rem;
 }
